<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Dataset Explorer (for Google Colab and SAS ODA)</title>
    </head>
    <body>
        <h1>Dataset Explorer</h1>
        <p>
            <div id="directory_box">
            Enter a {{'new' if libref}} libref{{' to start over' if libref}}:
                <form action="/" method="get">
                        <input type="text" name="libref" spellcheck="false" size="100" {{'autofocus' if not libref_contents}}>
                        <input type="submit" name="command" value="Submit libref">
                        <input type="submit" name="command" value="Reset Page">
                </form>
            </div>
        </p>
        {% if libref %}
        <br />
        <p>
            <b>Current libref</b>: {{libref}}
        </p>
        {% elif libref and not libref_contents %}
        <br />
        <p>
            <b>Warning</b>: No SAS datasets found.
        </p>
        {% endif %}
        {% if error %}
        <p>
            <b>Error</b>: {{error}}
        </p>
        {% endif %}
        {% if libref_contents %}
        <div id="file_select" style="float:left;">
                <p>
                    <b>Select a dataset file</b>:
                </p>
                <form action="/" method="get">
                    <p>
                        <select name="dataset" size="25" required {{'autofocus' if libref_contents}}>
                            {% for dsn in libref_contents %}
                                <option value="{{dsn}}" {{'selected' if dsn == dataset}}>{{dsn}}</option>
                            {% endfor %}
                        </select>
                    </p>
                    <p>
                        <b>Select a command</b>:&nbsp;
                        <input type="hidden" name="libref" value="{{libref}}">
                        <input type="hidden" name="libref_contents" value="{{libref_contents}}">
                        <input type="submit" name="command" value="run PROC CONTENTS">
                        <input type="submit" name="command" value="run PROC MEANS">
                        <input type="submit" name="command" value="run PROC FREQ">
                    </p>
                </form>
        </div>
        {% endif %}
        {% if iframe_filename %}
        <div id="return_value" style="float:left;margin-top:12px;margin-left:30px;">
        <br />
                <iframe src="{{ url_for('static', filename=iframe_filename) }}" style="border:2px solid darkblue;height:480px;width:640px;">
                </iframe>
        </div>
        {% endif %}
    </body>
</html>